/* wrapping div for page center */
.App {
  text-align: center;
  background-color: burlywood;
  height: 100vh;
}

/* all pages  */

/* the page wrapping div */
#BoxContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

/* styling for the chat box  */
#chatbox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: black solid 2px;
  width: 400px;
  height: 300px;
  font-family: 'Shalimar', cursive;

}

/* styling for the link box */
#link-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  border: black solid 2px;
  width: 250px;
  height: 300px;
  background-color: gray;
  font-family: 'Shalimar', cursive;
  margin-left: 10px;
}

/* styling for the title  */
.title {
  display: block;
  margin: 0, auto;
  padding: 0;
  text-align: center;
  border: none;
}

#button-wrapper{
  display: flex;

  font-family: 'Shalimar', cursive;
  
}

.input{
  margin: 10px;
}

#fishwrapper{
  background-color: aqua;
}

#fishchatbox{
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: black solid 2px;
  width: 400px;
  height: 300px;
  font-family: 'Shalimar', cursive;
  background-color: rgb(26, 143, 252);
}

#gamechatwrapper{
  background-color: chartreuse;
}