.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#BoxContainer {
  display: flex;
  flex-direction: row;
}

#chatbox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: black solid 2px;
  width: 500px;
  height: 300px;
}

#all-Rooms {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  width: 250px;
  height: 300px;
}

.title {
  display: block;
  margin: 0, auto;
  padding: 0;
  text-align: center;
  border: none;
}
